.traffic-light-container {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .traffic-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    width: 30px;
  }

  .light {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
  }
  
  .red {
    background-color: #ff0000;
  }
  
  .yellow {
    background-color: #ffff00;
  }
  
  .green {
    background-color: #00ff00;
  }
  
  .bright {
    opacity: 1;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }